/* css/style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

/* Style général pour le formulaire */
form {
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005bb5;
}

/* Style de la carte de visite */
.card {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links a {
    margin: 0 5px;
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    color: #005bb5;
    text-decoration: underline;
}
